<nav>
    <div class="site-title">
        <a href="/"><h1>Rm's Website</h1></a>
        <p>My Website</p>
    </div>

    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blogs</a></li>
    </ul>
</nav>