<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>

    <%- include('./partials/nav.ejs') %> 
    
    <div class="about content">
        <h2>About Us</h2>
        <p>Welcome to [Your Company Name], where we believe in delivering exceptional value and unmatched service to our customers. </p>
        <p>Founded in [Year], we have made it our mission to [briefly describe what you do]. Whether you're seeking [products, services, or solutions], our team is committed to meeting your needs with passion and expertise.</p>
    </div>

    <%- include('./partials/footer.ejs') %> 
    
</body>
</html>